@using SectionG.Code.Pocos;
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    Layout = "";

    // Roots
    var site = Model.Content.AncestorOrSelf("Site");
    var lang = Model.Content.AncestorOrSelf("AccueilLangage");
    
    var db = new PetaPoco.Database("umbracoDbDSN");     
    var listOfBoroughs = db.Fetch<Borough>(new PetaPoco.Sql().Select("*").From("_sg_Borough"));
    
}

<div><input id="Adresse" name="Adresse" type="text" placeholder="Adresse" class="form-control input-md"></div>
<div><input id="Appt" name="Appt" type="text" placeholder="Appt." class="form-control input-md"></div>
<div><input id="Rue" name="Rue" type="text" placeholder="Rue" class="form-control input-md"></div>
<div><input id="CodePostal" name="CodePostal" type="text" placeholder="CodePostal" class="form-control input-md"></div>
<div>
    <select id="Arrondissement" name="Arrondissement" class="form-control select-md">
        @foreach (Borough item in listOfBoroughs)
        {
            if (item.Id == 9) {
                <option selected value="@item.Id">@item.Name</option>
            }                
            else {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>
</div>