@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@Html.Partial("/Views/Partials/SmallHeader.cshtml")

<div>
    <h4>@CurrentPage.titre</h4>
    <div>Formulaire contact...</div>
</div>

<hr />