@using SectionG.Code.Pocos;
@using Umbraco.Core.Persistence;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    
    Layout = "Master.cshtml";

    // Roots
    var site = Model.Content.AncestorOrSelf("Site");
    var lang = Model.Content.AncestorOrSelf("AccueilLangage");

    var lease = lang.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Bail");
    var registry = lang.Children.FirstOrDefault(x => x.DocumentTypeAlias == "Registre");

    var leaseText = "Par ici vous pouvez entrer votre bail et ses modalités pour participer au registre volontaire des baux!";
    var registryText = "Par ici vous pouvez consulter le registre des baux afin de valider le prix de votre bail selon l'historique.";
    if (lang.Name.ToLowerInvariant() == "en")
    {
        leaseText = "[EN] Par ici vous pouvez entrer votre bail et ses modalités pour participer au registre volontaire des baux!";
        registryText = "[EN] Par ici vous pouvez consulter le registre des baux afin de valider le prix de votre bail selon l'historique.";
    }

    // Get the current database object
    var db = ApplicationContext.Current.DatabaseContext.Database;
    // Fetch a collection of contacts from the db.
    
    var listOfLeases = db.Fetch<Lease>(new Sql().Select("*").From("_sg_Lease"));
}
<link rel="stylesheet" href="~/Css/grid.css">
<script src="~/Scripts/jquery.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/grid.js"></script>

<script type="text/javascript">
    /* Table initialisation */
    $(document).ready(function () {
        $('#example').dataTable({
            "sDom": "<'row'<'span3'l><'span6'f>r>t<'row'<'span3'i><'span6'p>>",
            "sPaginationType": "bootstrap",
            "aLengthMenu": [5, 10, 25, 50],
            "oLanguage": {
                "sLengthMenu": "_MENU_ items par page",
                "sInfo": "Montrer de _START_ à _END_ de _TOTAL_ entrées",
                "sSearch": "Rechercher",
                "oPaginate": {
                    "sPrevious": "Précédent",
                    "sNext": "Suivant"
                }
            }
        });
    });
</script>

@Html.Partial("/Views/Partials/SmallHeader.cshtml")

<hr />

<div>
    <h4>Consultez le registre volontaire des baux.</h4>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam scelerisque commodo odio posuere venenatis. In ut leo et tortor hendrerit scelerisque. Maecenas sed faucibus purus. Proin sit amet lorem felis. In vel dapibus arcu, posuere fringilla erat.</p>
</div>

<hr />

<div>
    <table class="table table-striped table-bordered" id="example">
        <thead>
            <tr>
                <th>Prix</th>
                <th>Date</th>
                <th>Adresse IP</th>
            </tr>
            </thead>
        <tbody role="alert">
            @foreach (Lease leaseItem in listOfLeases)
            {
                <tr>
                    <td>@leaseItem.Price $</td>
                    <td>@leaseItem.DateCreated.ToString("dd MMMM yyyy")</td>
                    <td>@leaseItem.IpAddress</td>
                </tr>
            }
        </tbody>
    </table>
</div>